.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding: auto;
  align-items: center;
}

.players-wrap {
  display: flex;
  gap: 50px;
  justify-content: center;

  padding: auto;
  align-items: center;
}
